.Layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 7vh 93vh;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}
.Header {
    grid-area: header;
}
.SideNavBar {
    grid-area: sidebar;
}
.main {
    grid-area: main;
}